<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>商户入驻记录</title>
    <!-- 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.11"></script>
    <!-- 引入vue-resource -->
    <script src="https://cdn.staticfile.org/vue-resource/1.5.1/vue-resource.min.js"></script>
    <!-- 引入axios -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.5.1/qs.min.js"></script>
    <!-- 引入jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        .demo-table-expand {
            font-size: 0;
        }

        .demo-table-expand label {
            width: 90px;
            color: #99a9bf;
        }

        .demo-table-expand .el-form-item {
            margin-right: 0;
            margin-bottom: 0;
            width: 50%;
        }

        .info{
            height: 720px;
            overflow: auto;
        }
        .info::-webkit-scrollbar {
            display: none;
        }
    </style>
</head>
<body style="width: 95%">
<div id="app">
    <div style="width: 95%; padding: 35px 0 20px 5%">
        <el-button type="primary" icon="el-icon-edit" @click="dialogFormVisible = true; add()">新增</el-button>
        <el-form ref="condition" :model="condition" :rules="rules" label-width="100px" style="float: right">
            <el-row>
                <el-col :span="4">
                    <el-form-item label="查询类型">
                        <el-select v-model="condition.types" placeholder="请选择" clearable style="width:100%">
                            <el-option label="代理商姓名" value="1"></el-option>
                            <el-option label="营业执照名称" value="2"></el-option>
                            <el-option label="商户简称" value="3"></el-option>
                            <el-option label="微信商户号" value="4"></el-option>
                            <el-option label="备注" value="5"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>

                <el-col :span="3">
                    <el-form-item label-width="5px">
                        <el-input v-model="condition.content" placeholder="请输入内容" clearable ></el-input>
                    </el-form-item>
                </el-col>
                <el-col :span="4">
                    <el-form-item label="入驻状态">
                        <el-select v-model="condition.status" placeholder="请选择" clearable style="width:100%">
                            <el-option label="审核中" value="审核中"></el-option>
                            <el-option label="待账户验证" value="待账户验证"></el-option>
                            <el-option label="微信待验证" value="微信待验证"></el-option>
                            <el-option label="支付宝待验证" value="支付宝待验证"></el-option>
                            <el-option label="审核不通过" value="审核不通过"></el-option>
                            <el-option label="待配置商户资料" value="待配置商户资料"></el-option>
                            <el-option label="入驻完成" value="入驻完成"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
                <!-- 日期选择器 -->
                <el-col :span="4">
                    <el-form-item label="选择日期">
                        <el-date-picker
                                v-model="date"
                                type="daterange"
                                align="right"
                                unlink-panels
                                value-format="yyyy-MM-dd"
                                range-separator="至"
                                start-placeholder="开始日期"
                                end-placeholder="结束日期"
                                :picker-options="pickerOptions"
                                style="width:160%">
                        </el-date-picker>
                    </el-form-item>
                </el-col>
                <el-button type="primary" icon="el-icon-search" style="margin-left: 150px" @click="select()">查询</el-button>
            </el-row>
        </el-form>
    </div>

    <!-- 商户数据表 -->
    <template>
        <el-table :data="merchantsInfo" :row-key="getRowKeys" :expand-row-keys="expands" @expand-change="expandSelect"
                  :key="merchantsInfo"
                  class="info">
            <el-table-column type="expand">
                <template slot-scope="props">
                    <el-form label-position="left" inline class="demo-table-expand">
                        <el-form-item label="联系人姓名">
                            <span>{{ props.row.contactName }}</span>
                        </el-form-item>
                        <el-form-item label="联系电话">
                            <span>{{ props.row.phone }}</span>
                        </el-form-item>
                        <el-form-item label="云支付子账号">
                            <span>{{ props.row.childMerchant }}</span>
                        </el-form-item>
                        <el-form-item label="微信费率">
                            <span>{{ props.row.weChatRate }}</span>
                        </el-form-item>
                        <el-form-item label="微信费率生效日期">
                            <span>{{ props.row.weChatRateDate }}</span>
                        </el-form-item>
                        <el-form-item label="支付宝费率">
                            <span>{{ props.row.aliPayRate }}</span>
                        </el-form-item>
                    </el-form>
                </template>
            </el-table-column>
            <!--                <el-table-column prop="id" label="ID" width="50px">-->
            <!--                </el-table-column>-->

            <el-table-column prop="belong" label="代理商姓名" width="100px"></el-table-column>

            <el-table-column prop="merchantName" label="营业执照名称"></el-table-column>

            <el-table-column prop="merchantForShort" label="商户简称"></el-table-column>

            <el-table-column prop="applicationDate" label="申请入驻日期"></el-table-column>

            <el-table-column prop="status" label="入驻状态"></el-table-column>

            <el-table-column prop="weChatMerchant" label="微信商户号"></el-table-column>

            <el-table-column prop="aliPayId" label="支付宝账号"></el-table-column>

            <el-table-column prop="aliPayPid" label="支付宝商家PID"></el-table-column>

            <el-table-column prop="aliPayTheir" label="支付宝商家名称"></el-table-column>

            <el-table-column prop="note" label="备注"></el-table-column>

            <el-table-column label="操作" width="147px">
                <template slot-scope="scope">
                    <el-button type="primary" size="small"
                               @click="dialogFormVisible = true; edit(scope.$index, scope.row)">编辑
                    </el-button>
                    <el-button type="danger" size="small">删除</el-button>
                </template>
            </el-table-column>

        </el-table>
        <!-- 分页 -->
        <el-pagination
                background
                layout="total, prev, pager, next"
                :total="total"
                align="center"
                :current-page="currentPage"
                @current-change="currentChange"
                @next-click="currentChange">

        </el-pagination>
    </template>
    <el-dialog title="商户信息" :visible.sync="dialogFormVisible" :close-on-click-modal="false" @close="reset('form')">
        <!-- 编辑表单 -->
        <el-form ref="form" :model="form" :rules="rules" label-width="140px">
            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="代理商姓名" prop="belong">
                        <el-input v-model="form.belong" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="联系人姓名" prop="contactName">
                        <el-input v-model="form.contactName" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="营业执照名称" prop="merchantName">
                        <el-input v-model="form.merchantName" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="商户简称" prop="merchantForShort">
                        <el-input v-model="form.merchantForShort" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="联系电话" prop="phone">
                        <el-input v-model="form.phone" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="入驻状态" prop="status">
                        <el-select v-model="form.status" placeholder="请选择" style="width:100%">
                            <el-option label="审核中" value="审核中"></el-option>
                            <el-option label="待账户验证" value="待账户验证"></el-option>
                            <el-option label="微信待验证" value="微信待验证"></el-option>
                            <el-option label="支付宝待验证" value="支付宝待验证"></el-option>
                            <el-option label="审核不通过" value="审核不通过"></el-option>
                            <el-option label="待配置商户资料" value="待配置商户资料"></el-option>
                            <el-option label="入驻完成" value="入驻完成"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="微信商户号">
                        <el-input v-model="form.weChatMerchant" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="申请入驻日期" required>
                        <el-form-item prop="applicationDate">
                            <el-date-picker
                                    type="date"
                                    v-model="form.applicationDate"
                                    placeholder="选择日期"
                                    format="yyyy 年 MM 月 dd 日"
                                    value-format="yyyy-MM-dd"
                                    style="width: 100%">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="微信费率">
                        <el-autocomplete
                                class="inline-input"
                                v-model="form.weChatRate"
                                :fetch-suggestions="querySearch"
                                placeholder="请输入内容"
                                clearable
                                style="width:100%">
                        </el-autocomplete>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="支付宝费率">
                        <el-autocomplete
                                class="inline-input"
                                v-model="form.aliPayRate"
                                :fetch-suggestions="querySearch"
                                placeholder="请输入内容"
                                clearable
                                style="width:100%">
                        </el-autocomplete>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="云支付子商户账号">
                        <el-input v-model="form.childMerchant" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="微信费率生效日期">
                        <el-form-item prop="weChatRateDate">
                            <el-date-picker
                                    type="date"
                                    v-model="form.weChatRateDate"
                                    placeholder="选择日期"
                                    format="yyyy 年 MM 月 dd 日"
                                    value-format="yyyy-MM-dd"
                                    style="width:100%">
                            </el-date-picker>
                        </el-form-item>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="支付宝账号">
                        <el-input v-model="form.aliPayId" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="支付宝商家PID">
                        <el-input v-model="form.aliPayPid" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-row :gutter="20">
                <el-col :span="11">
                    <el-form-item label="支付宝商家名称">
                        <el-input v-model="form.aliPayTheir" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>

                <el-col :span="11">
                    <el-form-item label="备注">
                        <el-input v-model="form.note" placeholder="请输入内容" clearable></el-input>
                    </el-form-item>
                </el-col>
            </el-row>

            <el-form-item id="button">
                <el-button type="primary" @click="submitForm('form','http://localhost:8080/add')"
                           :style="{display: addButtonVisible}"><i
                        class="el-icon-upload el-icon--left"> 添加</i></el-button>
                <el-button type="primary" @click="submitForm('form','http://localhost:8080/update')"
                           :style="{display: editButtonVisible}"
                           style="margin-left: 0"><i class="el-icon-upload el-icon--left"> 修改</i></el-button>
                <el-button @click="reset('form')" style="margin-left: 335px">重置</el-button>
            </el-form-item>
        </el-form>

    </el-dialog>

</div>
<script type="text/javascript">
    var Main = {
        data() {
            return {
                //请求返回的数据
                merchantsInfo: [],
                expands: [],
                getRowKeys(row) {
                    return row.id
                },
                //查询条件
                condition: {
                    types: '',
                    content: '',
                    status: '',
                    startData: '',
                    endDate: ''
                },
                //用于表单重置为空
                editForm: {
                    id: '',
                    belong: '',
                    merchantName: '',
                    merchantForShort: '',
                    contactName: '',
                    phone: '',
                    applicationDate: '',
                    status: '',
                    childMerchant: '',
                    weChatMerchant: '',
                    weChatRate: '',
                    weChatRateDate: '',
                    restaurants: [],
                    aliPayId: '',
                    aliPayPid: '',
                    aliPayTheir: '',
                    aliPayRate: '',
                    note: ''
                },
                //表单数据绑定
                form: {
                    id: '',
                    belong: '',
                    merchantName: '',
                    merchantForShort: '',
                    contactName: '',
                    phone: '',
                    applicationDate: '',
                    status: '',
                    childMerchant: '',
                    weChatMerchant: '',
                    weChatRate: '',
                    weChatRateDate: '',
                    restaurants: [],
                    aliPayId: '',
                    aliPayPid: '',
                    aliPayTheir: '',
                    aliPayRate: '',
                    note: ''
                },
                //表单必填项验证规则
                rules: {
                    belong: [
                        {required: true, message: '请填写代理商姓名', trigger: 'blur'},
                        {min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur'}
                    ],
                    merchantName: [
                        {required: true, message: '请填写营业执照名称', trigger: 'blur'}
                    ],
                    merchantForShort: [
                        {required: true, message: '请填写商户简称', trigger: 'blur'}
                    ],
                    contactName: [
                        {required: true, message: '请填写联系人姓名', trigger: 'blur'},
                        {min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'blur'}
                    ],
                    phone: [
                        {required: true, message: '请填写手机号码', trigger: 'blur'}
                    ],
                    applicationDate: [
                        {type: 'string', required: true, message: '请选择日期'}
                    ],
                    status: [
                        {required: true, message: '请填写商户状态', trigger: 'change'}
                    ]
                },
                date: '',
                // 日期选择器快捷日期选择函数
                pickerOptions: {
                    shortcuts: [{
                        text: '最近一周',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近一个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
                            picker.$emit('pick', [start, end]);
                        }
                    }, {
                        text: '最近三个月',
                        onClick(picker) {
                            const end = new Date();
                            const start = new Date();
                            start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
                            picker.$emit('pick', [start, end]);
                        }
                    }]
                },
                dialogFormVisible: false,
                addButtonVisible: '',
                editButtonVisible: '',
                total: '',
                currentPage: 1
            }
        },
        mounted() {
            // 给商户费率添加快捷选项
            this.restaurants = this.loadAll();
            //设置接口地址
            const url = 'http://localhost:8080/index';

            // 调用查询商户信息的函数
            this.selectInfo(url);
        },
        methods: {
            // 折叠面板每次只能展开一行
            expandSelect(row, expandedRows) {
                this.expands = [];
                if (expandedRows.length > 0) {
                    row ? this.expands.push(row.id) : ''
                }
            },
            // 查询全部商户信息
            selectInfo(url) {

                // 获取输入的查询日期
                let startDate = '';
                let endDate = '';
                if(this.date !== null && this.date !== ""){
                    startDate = this.date[0];
                    endDate = this.date[1];
                }

                //声明查询类型
                let types = 0;
                //判断是否选择了查询类型
                if(this.condition.types !== ""){
                    //将选择类型的Sting转换为int，传值到后台
                    types = parseInt(this.condition.types);
                }

                //设置参数
                const params = new URLSearchParams();
                params.append('types', types);
                params.append('content', this.condition.content);
                params.append('status', this.condition.status);
                params.append('startDate', startDate);
                params.append('endDate', endDate);
                // 发起请求
                axios.post(url, params)
                    .then((response) => {
                        //将查询结果赋值给数组，以便显示出来
                        this.merchantsInfo = response.data.merchants;
                        console.log(this.merchantsInfo);
                        this.total = response.data.total;

                    }).catch((error) => {
                    alert('请求失败？');
                });
            },

            // 表单提交函数（新增、修改）
            submitForm(formName, url) {
                console.log(formName);
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        console.log(this.form);
                        this.addUpdate(formName, url)

                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },

            // 新增、修改函数
            addUpdate(formName, url) {
                console.log("商户号");
                console.log(this.form.weChatMerchant);
                //封装参数
                const params = new URLSearchParams();
                params.append('id', this.form.id);
                params.append('belong', this.form.belong);
                params.append('merchantName', this.form.merchantName);
                params.append('merchantForShort', this.form.merchantForShort);
                params.append('contactName', this.form.contactName);
                params.append('phone', this.form.phone);
                params.append('applicationDate', this.form.applicationDate);
                params.append('status', this.form.status);
                params.append('childMerchant', this.form.childMerchant);
                params.append('weChatMerchant', this.form.weChatMerchant);
                params.append('weChatRate', this.form.weChatRate);
                if (this.form.weChatRateDate == null) {
                    this.form.weChatRateDate = "";
                }
                params.append('weChatRateDate', this.form.weChatRateDate);
                params.append('aliPayId', this.form.aliPayId);
                params.append('aliPayPid', this.form.aliPayPid);
                params.append('aliPayTheir', this.form.aliPayTheir);
                params.append('aliPayRate', this.form.aliPayRate);
                params.append('note', this.form.note);

                const a = this;
                // 发起请求
                axios.post(url, params)
                    .then(function (response) {
                        console.log(response);
                        if (response.data === 1) {
                            // 调用重置表单函数
                            a.reset(formName);
                            //关闭表单
                            a.dialogFormVisible = false;
                            // 提交商户信息成功的提示信息
                            Vue.prototype.$message({
                                showClose: true,
                                message: '提交商户信息成功',
                                type: 'success'
                            });
                            // 调用查询商户信息的函数
                            a.selectInfo('http://localhost:8080/index');

                        } else {
                            a.reset(formName);
                            a.dialogFormVisible = false;
                            Vue.prototype.$message({
                                showClose: true,
                                message: '提交商户信息失败',
                                type: 'success'
                            });
                        }
                    }).catch(function (error) {
                    console.log(error);
                })
            },

            // 编辑表单按钮触发函数
            edit(index, row) {
                this.addButtonVisible = 'none';
                this.editButtonVisible = '';
                this.form = {...row};
            },

            // 新增表单按钮触发函数
            add() {
                this.editButtonVisible = 'none';
                this.addButtonVisible = '';
            },

            // 查询按钮触发函数
            select() {
                //设置接口地址
                const url = 'http://localhost:8080/index';
                // 调用查询商户信息的函数
                this.selectInfo(url);
            },

            // 表单关闭重置函数
            reset(formName) {
                this.$nextTick(() => {
                    this.form = {...this.editForm};
                    this.$refs[formName].resetFields();
                })
            },

            //页码改变触发函数
            currentChange(val) {

                // 获取输入的查询日期
                let startDate = '';
                let endDate = '';
                if(this.date !== null && this.date !== ""){
                    startDate = this.date[0];
                    endDate = this.date[1];
                }

                //声明查询类型
                let types = 0;

                //判断是否选择了查询类型
                if(this.condition.types !== ""){
                    //将选择类型的Sting转换为int，传值到后台
                    types = parseInt(this.condition.types);
                }

                const url = "http://localhost:8080/index?currents="+val+"&types="+types+"&content="+this.condition.content+"&status="+this.condition.status+"&startDate="+startDate+"&endDate="+endDate+"";
                const a = this;

                // 发起请求
                axios.post(url)
                    .then(function (response) {

                        a.merchantsInfo = response.data.merchants;
                        a.total = response.data.total;

                    }).catch(function (error) {
                    console.log(error);
                })
            },


            querySearch(queryString, cb) {
                const restaurants = this.restaurants;
                const results = queryString ? restaurants.filter(this.createFilter(queryString)) : restaurants;
                // 调用 callback 返回建议列表的数据
                cb(results);
            },
            createFilter(queryString) {
                return (restaurant) => {
                    return (restaurant.value.toLowerCase().indexOf(queryString.toLowerCase()) === 0);
                };
            },

            // 费率输入框快捷选择的函数
            loadAll() {
                return [
                    {"value": "0.38"},
                    {"value": "0.30"},
                    {"value": "0.28"}
                ];
            }

        }

    };
    var Ctor = Vue.extend(Main);
    new Ctor().$mount('#app');
</script>
</body>
</html>